body {
  background-image: url("images/world.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
  padding: 10px;
  background: #e5f2f8d3;
}

.app-container {
  max-width: 500px;
  margin: 50px auto;
  margin-bottom: 0;
  background: #89cff0b2;
  padding: 20px;
  border-radius: 20px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(250, 249, 249, 0.53);
}
.city:last-child {
  border: none;
}
.date {
  color: #fffefe;
  font-weight: 600;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
.reset {
  display: block;
  color: #fffefe;
  font-weight: 600;
  text-decoration: underline;
  text-align: right;
}

footer {
  display: block;
  text-align: center;
  font-size: 14px;
  background: #89cff0b2;
  border-radius: 20px;
  color: #fffefe;
  font-family: "Courier New", Courier, monospace;
  margin: 20px auto;
  max-width: 500px;
  padding: 7px;
}
a {
  color: #fffefe;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
